* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-size: 20px;  
}

body {
  background-color: hsl(205, 100%, 96%);
}

h3 {
  font-size: 27px;
  text-transform: capitalize;
  line-height: 1.25;
  letter-spacing: 5px;
  margin-bottom: 0.75rem;
}

a {
  text-decoration: none;
}
section {
  min-height: 79vh;
  max-width: 700px;
  margin: 79px auto 0;
 text-align: center;
}

form {
margin-top: 20px;
}

form > label{
  letter-spacing: 5px;
  font-size: 25px;
}

input {
  width: 50px;
  margin: 0 10px;
  padding: 3px;
  background-color: #fff;
  border-style: none;
}

.btn {
  background-color: #7dd0f1;
  display: inline-block;
  padding: 3px 12px;
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn:hover {
  background-color: #b8e0f0;
}

.lorem-text {
  font-size: 10px;
  padding: 25px;
}

.lorem-text > p {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

footer {
  background-color: #7dd0f1;
  padding: 10px;
 text-align: center;
}

.foot1 i {
  font-size: 33px;
  margin: 8px 0;
  padding-right: 9px;
}

.foot1 i:hover {
  color: #fff;
}